/* ----------- reset ----------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Rubik', sans-serif;  
    color: #333333;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #095BB9;
}


h1,h2,h3,h4,h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/* ----------- header ----------- */

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.bg-header{
    background: #1E1E20;
}
.header{
    display: flex;
    padding: 2% 0;
}

    .header__title{
        font-size: 24px;
    }


.menu{
    width: 100%;
    font-size: 18px;  
    text-align: right;
}

    .menu__item{
        font-size: 1rem;
        margin-left: 3%;
        color: #fff;
    }

.top{
    position: relative;
    height: 90vh;
}

    .top__container{
        width: 60%;
        position: absolute;
        z-index: 2;
        top: 20%;
    }

    .top__title{
        font-size: 50px;
        margin-bottom: 80px;
        color: #fff;
    }

    .top__img{
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
    }

    .top__link{
        position: absolute;
        bottom: 10%;
        z-index: 2;
    }


.section{
    padding: 75px 0;
    position: relative;
}
.title-section{
    font-size: 70px;
    position: relative;
    margin: 40px 0;
}

.title-section--center{
    text-align: center;
}

.title-section--no-margin{
    margin: 0  ;
}

.title-line{
    width: 50px;
    height: 10px;
    background: #095BB9;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
}


/*  --------------------------------  
    -------------- Work  ----------- 
    -------------------------------- */


    .work-item{
        height: 520px;
        margin: 0 25% 0 20%; 
    }

    .work-item--bg-th{
        background: #FDD70D;
    }

    .work-item--bg-clk{
        background: aqua;
    }
    .work-item--bg-clk-2{
        background: cadetblue;
    }

    .work-item__title{
        font-size: 70px;
        position: absolute;
        top: 20%;
        left: 12%;
        text-align: left;
    }
    .work-item__title:after{
        content:'';
        width: 50px;
        height: 10px;
        background: #095BB9;
        display: block;
    }

    .work-item__img  {
        position: absolute;
        max-width: 570px;
        right: 120px;
        bottom: 40px;
    }

    .work-item__title span{
        display: block;
        
    }


/*  --------------------------------  
    -------------- Sobre  ----------- 
    -------------------------------- */

    .block{
        display: -webkit-box;
        display: flex;
        position: relative;
        -webkit-box-align: center;
        align-items: center;
    }
    .block::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 22%;
        width: 100vw;
        height: calc(100% - 40px);
        background-color: #f1f4f6;
    }

    .block--left::before{
        right: 22%;
        left: inherit;
    }

    .block__media{
        display: block;
        position: relative;
        min-width: 44%;
        max-width: 470px;
        height: 65vh;
        margin-right: 50px;
        overflow: hidden;
    }

    .block__media--right{
        margin-left: 180px;
        -webkit-box-ordinal-group: 3;
        order: 2;
        margin-right: 0;

    }

    .block__img{
        position: absolute;
        top: 35px;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
    }

    .block__content{
        position: relative;
        z-index: 2;
        padding: 50px 0;  
        line-height: 35px;  
    }


    .block__subtitle{
        font-family: 'Rubik', sans-serif;  
        font-size: 24px;
        margin: 20px 0;
    }
  

    .block__list {
        display: flex;
        flex-wrap: wrap;
    }

    .block__list li {
        flex-basis: 50%;
    }

    .block__contato{
        color: #fff;
        background: #1E1E20;
    }